body{
	font-family: 'Titillium Web', sans-serif;
}
.italia{
	width: 100%;
}
.circle{
	width: 100%;
	height: 100%;
}
.datos{
	color: #E5C100;
	text-shadow: 2px 2px 4px black;
	font-size: 100px;
	text-align: center;
	letter-spacing: 5px;
	font-weight: bold;
}
.pazteca{
	font-family: 'Tangerine', cursive;
	color: #E5C100;
	font-size: 40px;
	text-align: center;
}
.pazteca2{
	font-family: 'Tangerine', cursive;
	color: #FFFBE5;
	font-size: 32px;
	text-align: center;
}
.primera{
	background-color: #B29600;
	border-top: 10px solid black;
	border-bottom: 10px solid black;
}
.paztecaimagen{
	width: 15%;
	height: 15%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.nombre{
	text-align: center;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 50px;
	text-shadow: 2px 2px 4px brown;
}
.ocupacion{
	text-align: center;
	margin-bottom: 80px;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 32px;
	text-shadow: 2px 2px 4px beige;
}