body{
	font-family: 'Nanum Myeongjo', serif;
}
.italia{
	width: 100%;
}
.circle{
	width: 100%;
	height: 100%;
}
.datos{
	color: #E5C100;
	text-shadow: 2px 2px 4px black;
	font-size: 50px;
	text-align: center;
	letter-spacing: 0px;
	font-weight: bold;
	padding-top: 0px;
}
.pazteca{
	font-family: 'Tangerine', cursive;
	color: #E5C100;
	font-size: 40px;
	text-align: center;
}
.pazteca2{
	font-family: 'Tangerine', cursive;
	color: #FFFBE5;
	font-size: 32px;
	text-align: center;
}
.primera{
	background-color: #B29600;
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	background-image: url(../img/textura-papel-viejo_1249-136.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.paztecaimagen{
	width: 15%;
	height: 15%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.nombre{
	text-align: center;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 50px;
	text-shadow: 2px 2px 4px #001CB2;
}
.ocupacion{
	text-align: center;
	margin-bottom: 80px;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 32px;
	text-shadow: 2px 2px 4px beige;
}
.facebook{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.twitter-tweet{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.dato1{
	font-size: 40px;
	text-align: center;
	color: beige;
	text-shadow: 2px 2px 4px black;
}
.dato2{
	font-size: 40px;
	text-align: center;
	color: black;
	text-shadow: 2px 2px 4px #B29600;
}
.informacion{
	/*border-top: 10px dotted black;
	border-bottom: 10px dotted black;
	border-right: 10px dotted black;
	border-left: 10px dotted black;*/
	background-image: url(../img/il_fullxfull.1822329676_15b0.jpg);
	background-repeat: inherit;
	background-size: cover;
}
.cinformacion{
	border-top: 10px solid black;
	border-bottom:10px solid black;
}
.logo{
	width: 12%;
	height: 12%;
	margin-left: 10px;
}
.cdatos2{
	padding-top: 20px;
}
.primera2{
	background-image: url(../img/fondo-azul-claro-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.pico{
	margin-top: -500px;
	margin-left: 100px;
	margin-bottom: -175px;
	height: 100%;
	width: 100%;
	padding-bottom:100px;
	animation-name: swing;
	animation-duration: 1s;
	animation-iteration-count: 20;
	animation-delay: 0s;
}

.contenedor{
	margin:5px 0px 5px 0px;
	border: 3px solid black;
}

.row .col {
	padding-top: 120px;
	padding-bottom: 120px;
}

.bloque1a{
	animation-name: fadeInDownBig;
	animation-duration: 2s;
	animation-delay: 0s;
}

.bloque2a{
	animation-name: fadeInLeftBig;
	animation-duration: 1s;
	animation-delay: 0s;
}

.bloque3a{
	animation-name: fadeInRightBig;
	animation-duration: 1s;
	animation-delay: 0s;
}

.bloque1b{
	animation-name: fadeInDownBig;
	animation-duration: 3s;
	animation-delay: 0s;
}

.bloque2b{
	animation-name: fadeInLeftBig;
	animation-duration: 3s;
	animation-delay: 0s;
}

.bloque3b{
	animation-name: fadeInRightBig;
	animation-duration: 3s;
	animation-delay: 0s;
}

.bloque2c{
	animation-name: fadeInLeftBig;
	animation-duration: 5s;
	animation-delay: 0s;
}

.bloque3c{
	animation-name: fadeInRightBig;
	animation-duration: 5s;
	animation-delay: 0s;
}

.bloque1d{
	animation-name: fadeInDownBig;
	animation-duration: 7s;
	animation-delay: 0s;
}

@keyframes fadeInDownBig {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
	}

	to {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

@keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.primera3{
	background-image: url(../img/fondo-azul-oscuro-liso-abstracto_1258-1784.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.primera4{
	background-image: url(../img/texture-71008_960_720.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}